<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(tracks)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Popularity</th>
                <th>Link</th>
            </tr>
            <tr th:each="track : ${tracks}">
                <td th:text="${track.id}"><a th:href="${track.getUri()}">Id</a></td>
                <td th:text="${track.name}">Name</td>
                <td th:text="${track.album.getName()}">Album</td>
                <td th:text="${track.durationMs}">duration</td>
                <td th:text="${track.popularity}">popularity</td>
                <td><a th:href="${track.getUri()}">View</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>